
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
    
}
.container {
  position: relative;
  background-color: rgb(127, 191, 228);
  background-size: cover;
  padding: 25px;
  border-radius: 28px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
header,
h5 {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
header .chip {
  width: 60px;
}
h6 {
  color: #fff;
  font-size: 10px;
  font-weight: 400;
}
h5.number {
  margin-top: 4px;
  font-size: 18px;
  letter-spacing: 1px;
}
h5.name {
  margin-top: 20px;
}
.container .card-details {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
#line1{
    padding-left: 100px;
}
.logo ,img{
    width:60px;
  padding-top: 25px;
    margin-left: 70px;
}